.cardsPage {
    width: 100%;
    background-color:  var(--main-bg-color);
}
.cardsBlock {
    width: 90%;
    top: 11.5%;
    position: relative;
    margin-left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    background-color:  var(--main-bg-color);

}
.bottom {
    height: 200px;
}
.buyCheapestButton {
    border: 0;
    margin: 50px 0 40% 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;

    width: 235px;
    height: 60px;

    background: #50DAA8;
    border-radius: 16px;
    color: #FFFFFF;
}
.buyCheapestButton:hover{
    background: #50DAA8;
    color: #FFFFFF;
}
.buyCheapestName {
    width: 139px;
    height: 28px;
    left: 48px;
    top: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}
.goodsTitleBlock {
    padding: 20px;
    width: 100%;
    text-align: center;
    border-radius: 16px;
}
.centeredPrice{
    margin-left: 25%;
    text-align: left;
}
/*HEIGHT*/
@media only screen and (max-height: 280px) {
    .goodsTitleBlock {
        padding: 10px;
    }
}

/*WIDTH*/
@media only screen and (max-width: 320px) {
    .cardsBlock{
        width: 100%;
    }
    .bottom{
        height: 50px;
    }
    .buyCheapestButton{
        position: fixed;
        left: -90px;
        top: 80%;
        z-index: 2;
    }
}

@media only screen and (max-width: 480px) {
    .cardsBlock{
        width: 100%;
    }
    .bottom{
        height: 100px;
    }
    .buyCheapestButton{
        position: fixed;
        right: 20%;
        top: 80%;
        z-index: 2;
    }
}
@media only screen and (min-width: 540px) {
    .cardsBlock{
        width: 70%;
    }

    .buyCheapestButton{
        position: fixed;
        right: 30%;
        top: 80%;
        z-index: 2;
    }
}
@media only screen and (min-width: 650px) {
    .cardsBlock{
        width: 50%;
    }
    .bottom{
        height: 100px;
    }
    .buyCheapestButton{
        position: static;

    }
}

@media only screen and (min-width: 768px) {
    .cardsBlock{
        width: 90%;
    }
    .bottom{
        height: 100px;
    }
    .buyCheapestButton{
        position: static;

    }
}
@media only screen and (min-width: 912px) {
    .cardsBlock{
        width: 80%;
    }
}
@media only screen and (min-width: 1180px) {
    .cardsBlock{
        width: 100%;
    }
}
@media only screen and (min-width: 1300px) {
    .cardsBlock{
        width: 90%;
    }
}



